# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Operating System files
.DS_Store
Thumbs.db

# Unit test / coverage reports
.tox/
.nox/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm and JetBrains files
.idea/

# Optional: Build files (only if using a static site generator)
public/
dist/
